<template>
<div>
    <h3>Auction details</h3>
    <ul class="list-group">
        <b>Description:</b> <li class="list-group-item">{{this.product.description}}</li>
        <b>Closing date:</b> <li class="list-group-item">{{this.product.closing_date}}</li>
        <b>Current price:</b> <li class="list-group-item">{{this.product.current_price}}</li>
    </ul>
    <input v-model='bid' />
    <button>Place bid</button>
</div>
</template>

<script>
import axios from "axios";

export default {
    props: ['id'],
    data: function() {
        return {
            product: "",
            bid: ""
        }
    },
    created: function() {
        console.log("created");
        axios.get("/api/product/" + this.id)
            .then(response => this.product = response.data) 
            .catch(error => console.log(error))
    },
    methods: {
    }
}
</script>