<template>
<div>
    <h3>Open auctions</h3>
    
                <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Closing Date</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for='(product, idx) in products' :key=idx>
                <th scope="row">{{ idx + 1 }}</th>
                <td>{{ product.description }}</td>
                <td>{{ product.current_price }}</td>
                <td>{{ product.closing_date }}</td>
                <td><router-link :to='"/product/" + product.id'>Select</router-link></td>
            </tr>
        </tbody>
    </table>
    <router-view>
    </router-view>
</div>
</template>

<script>
import axios from "axios";

export default {
    data: function() {
        return {
            products: []
        }
    },
    created: function() {
        console.log("created");
        axios.get("/api/product")
            .then(response => this.products = response.data) 
            .catch(error => console.log(error))
    }
}
</script>